<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="mobdev.smartmenu">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activity.Splashscreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.google.android.gms.vision.DEPENDENCIES"
            android:value="barcode" />

        <activity
            android:name=".activity.MasterActivity"
            android:configChanges="orientation|screenSize"
            android:windowSoftInputMode="stateUnchanged|adjustPan" />
        <activity android:name=".activity.AccountLoginActivity" />
        <activity android:name=".activity.AccountSignUpActivity" />
        <activity android:name=".activity.ResetPasswordActivity" />
        <activity android:name=".activity.NoInternetActivity" />
        <activity android:name=".activity.RestaurantProductActivity"
            android:configChanges="orientation|screenSize"/>
        <activity
            android:name=".activity.RestaurantProductDetailActivity"
            android:configChanges="orientation|screenSize"
            android:parentActivityName=".activity.RestaurantProductActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activity.RestaurantProductActivity" />
        </activity>
        <activity android:name=".activity.ReviewActivity"></activity>
    </application>

</manifest>